<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">
        {% include "header.html" %}
    <div>

    <div>
        <h2>О проекте: </h2><p>На сегодняшний день в умах клинических врачей стойко укоренилась мысль
        о необходимости индивидуального подхода к каждому пациенту, в том числе и в вопросах дозировки лекарственных веществ.</p>
        <h2>Фармогеномика - </h2><p>отрасль фармацевтики и фармакологии, которая исследует влияние генетической вариации каждого
        человека в его ответе на лекарственное средство.</p>
        <p>Мы группа энтузиастов (программистов и медиков), работающих для того, чтобы врачам-клиницистам было легче ориентироваться в мире генетического анализа. </p>
        <p>Наше приложение позволяет получить рекомендации по корректировке дозы лекарственного вещества в соответствии со структурой генов конкретного человека.</p>
        <p>Рекомендации формируются на основании клинических исследований.</p>
    </div>

    {% include "footer.html" %}

</body>

</html>
