<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Анализ генов</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/maststyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  </head>

  <script>
    $( function() {
        var availableTags = [
            {% for item in drugs %}
                "{{item}}",
            {% endfor %}
            ""
        ];
        $( "#drug_autocomplete" ).autocomplete({
            source: availableTags,
            select: function( event, ui ) {
                var gene = document.getElementById('gene_autocomplete');
                var drug = document.getElementById('drug_autocomplete');
                if (drug.value.length == 0)
                    gene.disabled = true;
                else
                    gene.disabled = false;
            }
        });
    } );

    $( function() {
        var availableTags = [
            {% for item in genes %}
                "{{item}}",
            {% endfor %}
            ""
        ];
        $( "#gene_autocomplete" ).autocomplete({
            source: availableTags,
            select: function( event, ui ) {
                var gene = document.getElementById('gene_autocomplete');
                var res_btn = document.getElementById('get_res')
                if (gene.value.length > 0)
                    res_btn.disabled = false;
            }
        });
    } );
    $(document).ready(function() {
        $("#get_res").click(function() {
            $.post("{{url_for('result')}}",
                {
                    gene: $('#gene_autocomplete').val(),
                    drug: $('#drug_autocomplete').val()
                },
                function(data, status) {
                    $('#result_div').text(data)
                    $('#result_div').slideDown('slow')
                });
        });
    });
  </script>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            <img src="{{ url_for('static', filename='pictures/docsters.png') }}" class="logo">
              <nav>
                <ul class="nav masthead-nav">
                    <li>
                        <a href="{{ url_for('main') }}">На главную</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('analysis')}}">Провести анализ</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}">О проекте</a>
                    </li>
                </ul>
              </nav>
            </div>
          </div>

        
        <div class="container">
        <input type="text" class="form-control" placeholder="Название лекарства" name="drug" id="drug_autocomplete"/>
        <br>
        <input type="text" class="form-control" placeholder="Ген" name="gene" id="gene_autocomplete"/>
        <br>
        <button type="button" class="btn btn-lg btn-success" id="get_res">Узнать результат</button>
        <br><br>
        <div id="result_div" class="result-box"></div>
        </div>

        {% include "footer.html" %}

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
</html>
