<!DOCTYPE html>
<html lang="en">

<head>
    <title>Genome analysis</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a class="nav-button-text" href="{{ url_for('main') }}">На главную</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('analysis')}}">Провести анализ</a>
                    </li>
                    <li>
                        <a class="nav-button-text" href="{{ url_for('about') }}">О проекте</a>
                    </li>
                </ul>
            </nav>
            <h3 class="h3-text-color">Docsters</h3>
        </div>

        <h3>Название лекарства:</h3>
        <input type="text" name="drug" id="drug_autocomplete"/>
		<script>
        $( function() {
            var availableTags = [
                {% for item in drugs %}
                    "{{item}}",
                {% endfor %}
                ""
            ];
            $( "#drug_autocomplete" ).autocomplete({
                source: availableTags,
                select: function( event, ui ) {
                    var gene = document.getElementById('gene_autocomplete');
                    var drug = document.getElementById('drug_autocomplete');
                    if (drug.value.length == 0)
                        gene.disabled = true;
                    else
                        gene.disabled = false;
                }
            });
        } );
		</script>
        <h3>Ген:</h3>
        <input type="text" name="gene" id="gene_autocomplete"/>
		<script>
        $( function() {
            var availableTags = [
                {% for item in genes %}
                    "{{item}}",
                {% endfor %}
                ""
            ];
            $( "#gene_autocomplete" ).autocomplete({
                source: availableTags,
                select: function( event, ui ) {
                    var gene = document.getElementById('gene_autocomplete');
                    var res_btn = document.getElementById('get_res')
                    if (gene.value.length > 0)
                        res_btn.disabled = false;
                }
            });
        } );
		$(document).ready(function() {
			$("#get_res").click(function() {
				$.post("{{url_for('result')}}",
					{
						gene: $('#gene_autocomplete').val(),
                        drug: $('#drug_autocomplete').val()
					},
                    function(data, status) {
                        $('#result_h').attr('hidden', false)
                        $('#result_div').text(data)
					});
			});
		});

		</script>

        <p>
        <button type="button" class="btn btn-success" id="get_res">Узнать результат</button>
        <h3 hidden id="result_h">Результат:</h3>
        <div id="result_div">
        </div>

        {% include "footer.html" %}

    </div>
</body>

</html>
