<!DOCTYPE html>
<html lang="en">

<head>
    <title>Genome analysis</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active">
                        <a class="nav-button-text" href="{{ url_for('main') }}">На главную</a>
                    </li>
                    <li>
                        <a class="nav-button-text" href="{{ url_for('analysis')}}">Провести анализ</a>
                    </li>
                    <li>
                        <a class="nav-button-text" href="{{ url_for('about') }}">О проекте</a>
                    </li>
                </ul>
            </nav>
            <h3 class="h3-text-color">Docsters</h3>
        </div>

        <div class="jumbotron">
            <h1>Добро пожаловать в Docsters!</h1>
            <p class="lead"></p>
            <p>Приложение для врачей, повзоляющее правильно выбрать дозировку</p>
            <a href="analysis">
              <button type="button" class="btn btn-success">Попробовать сейчас!</button>
            </a>

        </div>

        {% include "footer.html" %}

    </div>
</body>

</html>
